body{
	font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.ui-header{
	background-color: #228feb;
	z-index: 1;
	.ui-btn{
		color: #228feb
	}
}
section{
	position:absolute;
	top:0;
	bottom:0;
	left:0;right:0;
	background:#f8f8f8;
	padding-top:45px;
	&.show{
		z-index:2;
		display:block;
	}
	&.hide{
		z-index:1;
		display:none;
	}
}
section.animated{
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
.sub-box{
	padding: 15px;
	background-color: #f8f8f8;
	button{
		background-color: #228feb;
		color: #fff;
		text-align: center;
		height: 44px;
		line-height: 44px;
		display: block;
		width: 100%;
		border-radius: 5px;
		&:active{
			background:#2272eb;
		}
        &:disabled{
            color: #ccc;
            background: #e9ebec;
        }
	}
}
#Index{
    padding-top: 45px;
    h3{
        padding-bottom: 5px;
        text-align: center;
    }
    .ui-slider{
        padding-top:50%;
    }
}
#bookForm{
    .multi-select{
        ul{
            padding-left: 10px;
            display: none;
        }
    }
    .planter{ 
        p{
            -webkit-box-flex: 1;
        }
        a{
            display: block;
            padding-right: 10px;
            i{
                font-size: 25px;
                color: #228feb;
            }
        }
        
    }
}